@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html,body{
        overflow:hidden;
        -webkit-tap-highlight-color: transparent;

    }

    body{
        @apply text-white bg-primary
    }
}

@layer components{
    .moviesGrid{
        grid-template-columns: repeat(auto-fit,minmax(220px,1.2fr));
    }

    .cardSkeleton {
        background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0)
        );
        animation: shine 1s linear infinite;
    }

    @keyframes shine {
        0% {
            background-position: 0px;
        }
        100% {
            background-position: 220px;
        }
    }
}